.gdbar img {
  width: 200px !important;
  height: 65px !important;
  margin: 8px 8px;
}

.gdbar {
  width: 337px !important;
  height: 81px !important;
}

slides > slide:not(.nobackground):before {
  width: 125px;
  height: 41px;
  padding-bottom: 20px;
  background-size: 125px 41px;
}